.container{
    padding: 20px;
}

.container, .name-input, .password-input, .profile, .edit-password{    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1{
    margin: 0px;
    text-align: center;
    transition: font-size 0.1s ease;
}

input{
    padding: 10px 15px;
}

button{
    width: 20%;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    min-width: fit-content;
}

@media (width <= 300px){
    h1{
        font-size: 24px;
    }
}